<%= form_with url: '/purchases', multipart: true do |form| %>

  <%= label_tag :txt_file, "Arquivo tab" %>
  <%= file_field_tag :txt_file %>

  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
