<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<%= link_to 'New Purchase', new_purchase_path %>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th> Customer name </th>
      <th> Product Description </th>
      <th> Quantity </th>
      <th> Price </th>
      <th> Merchant Name </th>
      <th> Merchant Address </th>
      <th colspan="2"> Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>

      <tr>
        <td><%= purchase.id %></td>
        <td><%= purchase.customer.name if purchase.customer %></td>
        <td><%= purchase.product.description if purchase.product %></td>
        <td><%= purchase.product_quantity%></td>
        <td><%= "$  #{purchase.product.price}" if purchase.product %></td>
        <td><%= purchase.product.merchant.name  if purchase.product %></td>
        <td><%= purchase.product.merchant.address if purchase.product %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
